*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



.header{
    display: grid;
    background-color:rgb(20, 19, 93);
    color:white
    
}


.parent{
    display: flex;
    flex-wrap: wrap;
}


.box{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    max-width: 500px;
    box-shadow: 0 0.6rem 2rem rgba(26, 26, 26, 0.2);
    border-radius: 10px;
    transition: 0.4s all;
}


.image{
   display: block;
   width: 200px;
   height: 200px;
   border-radius: 10px;
}


.description{
   display: block;
}


button{
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0.6rem 2rem rgba(26, 26, 26, 0.2);
}


button:hover{
    background-color: rgb(157, 155, 153);
}

#userinput{
    
    padding: 10px;
    border-radius: 10px;
    border-color: black;
}

.button2{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
}